In [45]:
import pandas as pd

In [47]:
mat =pd.read_csv(r'C:\Users\Alllo\OneDrive\Desktop\DataAnalyics\DAI\Individual Progects\Student Performance in Mathematics and Portuguese\now csv\MAT.csv')

In [49]:
mat.head()

,Unnamed: 0,School_name,Gender,age,Address,Family_size,Pstatus,mother_education,father_education,mother_job,...,quality_of_family_relationships,free_time_after_school,going_out_with_friends,workday_alcohol_consumption,weekend_alcohol_consumption,current_health_status,number_of_school_absences,first_period_grade,second_period_grade,final_grade
0,0,Gabriel Pereira,Female,18,Urban,greater than 3,Apart,higher education,higher education,at_home,...,Good,Medium,High,Very Low,Very Low,Medium,6,5,6,6
1,1,Gabriel Pereira,Female,17,Urban,greater than 3,living together,primary education (4th grade),primary education (4th grade),at_home,...,Excellent,Medium,Medium,Very Low,Very Low,Medium,4,5,5,6
2,2,Gabriel Pereira,Female,15,Urban,equal to 3,living together,primary education (4th grade),primary education (4th grade),at_home,...,Good,Medium,Low,Low,Medium,Medium,10,7,8,10
3,3,Gabriel Pereira,Female,15,Urban,greater than 3,living together,higher education,5th to 9th grade,health,...,Average,Low,Low,Very Low,Very Low,Very High,2,15,14,15
4,4,Gabriel Pereira,Female,16,Urban,greater than 3,living together,secondary education,secondary education,other,...,Good,Medium,Low,Very Low,Low,Very High,4,6,10,10

In [51]:
mat.columns

Index(['Unnamed: 0', 'School_name', 'Gender', 'age', 'Address', 'Family_size ',
       'Pstatus', 'mother_education', 'father_education', 'mother_job',
       'father_job', 'school_choice_reason', 'student_guardian',
       'home_to_school_travel_time', 'weekly_study_time',
       'past_class_failures', 'extra_educational_support',
       'family_educational_support', 'extra_paid_classes',
       'extra_curricular_activities', 'attended_nursery_school',
       'wants_higher_education', 'internet_access_at_home',
       'romantic_relationship', 'quality_of_family_relationships',
       'free_time_after_school', 'going_out_with_friends',
       'workday_alcohol_consumption', 'weekend_alcohol_consumption',
       'current_health_status', 'number_of_school_absences',
       'first_period_grade', 'second_period_grade', 'final_grade'],
      dtype='object')

In [53]:
#drop columns not need
mat = mat.drop(columns=['father_job'])
mat = mat.drop(columns=['mother_education'])
mat = mat.drop(columns=['mother_job'])
mat = mat.drop(columns=['romantic_relationship'])
mat = mat.drop(columns=['quality_of_family_relationships'])
mat = mat.drop(columns=['weekend_alcohol_consumption'])
mat = mat.drop(columns=['workday_alcohol_consumption'])
mat = mat.drop(columns=['father_education'])

In [55]:
mat.columns

Index(['Unnamed: 0', 'School_name', 'Gender', 'age', 'Address', 'Family_size ',
       'Pstatus', 'school_choice_reason', 'student_guardian',
       'home_to_school_travel_time', 'weekly_study_time',
       'past_class_failures', 'extra_educational_support',
       'family_educational_support', 'extra_paid_classes',
       'extra_curricular_activities', 'attended_nursery_school',
       'wants_higher_education', 'internet_access_at_home',
       'free_time_after_school', 'going_out_with_friends',
       'current_health_status', 'number_of_school_absences',
       'first_period_grade', 'second_period_grade', 'final_grade'],
      dtype='object')

In [57]:
mat.isna().sum()

Unnamed: 0                     0
School_name                    0
Gender                         0
age                            0
Address                        0
Family_size                    0
Pstatus                        0
school_choice_reason           0
student_guardian               0
home_to_school_travel_time     0
weekly_study_time              0
past_class_failures            0
extra_educational_support      0
family_educational_support     0
extra_paid_classes             0
extra_curricular_activities    0
attended_nursery_school        0
wants_higher_education         0
internet_access_at_home        0
free_time_after_school         0
going_out_with_friends         0
current_health_status          0
number_of_school_absences      0
first_period_grade             0
second_period_grade            0
final_grade                    0
dtype: int64

In [59]:
mat.dtypes

Unnamed: 0                      int64
School_name                    object
Gender                         object
age                             int64
Address                        object
Family_size                    object
Pstatus                        object
school_choice_reason           object
student_guardian               object
home_to_school_travel_time     object
weekly_study_time              object
past_class_failures             int64
extra_educational_support      object
family_educational_support     object
extra_paid_classes             object
extra_curricular_activities    object
attended_nursery_school        object
wants_higher_education         object
internet_access_at_home        object
free_time_after_school         object
going_out_with_friends         object
current_health_status          object
number_of_school_absences       int64
first_period_grade              int64
second_period_grade             int64
final_grade                     int64
dtype: object

In [61]:
mat['past_class_failures']

0      0
1      0
2      3
3      0
4      0
      ..
390    2
391    0
392    3
393    0
394    0
Name: past_class_failures, Length: 395, dtype: int64

In [63]:
mat.rename(columns={'past_class_failures': 'num_of_past_class_failures'}, inplace=True)

In [66]:
#por folder
por = pd.read_csv(r'C:\Users\Alllo\OneDrive\Desktop\DataAnalyics\DAI\Individual Progects\Student Performance in Mathematics and Portuguese\now csv\POR.csv')

In [68]:
por.head()

,Unnamed: 0,School_name,Gender,age,Address,Family_size,Pstatus,mother_education,father_education,mother_job,...,quality_of_family_relationships,free_time_after_school,going_out_with_friends,workday_alcohol_consumption,weekend_alcohol_consumption,current_health_status,number_of_school_absences,first_period_grade,second_period_grade,final_grade
0,0,Gabriel Pereira,Female,18,Urban,greater than 3,Apart,higher education,higher education,at_home,...,Good,Medium,High,Very Low,Very Low,Medium,4,0,11,11
1,1,Gabriel Pereira,Female,17,Urban,greater than 3,living together,primary education (4th grade),primary education (4th grade),at_home,...,Excellent,Medium,Medium,Very Low,Very Low,Medium,2,9,11,11
2,2,Gabriel Pereira,Female,15,Urban,equal to 3,living together,primary education (4th grade),primary education (4th grade),at_home,...,Good,Medium,Low,Low,Medium,Medium,6,12,13,12
3,3,Gabriel Pereira,Female,15,Urban,greater than 3,living together,higher education,5th to 9th grade,health,...,Average,Low,Low,Very Low,Very Low,Very High,0,14,14,14
4,4,Gabriel Pereira,Female,16,Urban,greater than 3,living together,secondary education,secondary education,other,...,Good,Medium,Low,Very Low,Low,Very High,0,11,13,13

In [70]:
por.columns

Index(['Unnamed: 0', 'School_name', 'Gender', 'age', 'Address', 'Family_size',
       'Pstatus', 'mother_education', 'father_education', 'mother_job',
       'father_job', 'school_choice_reason', 'student_guardian',
       'home_to_school_travel_time', 'weekly_study_time',
       'past_class_failures', 'extra_educational_support',
       'family_educational_support', 'extra_paid_classes',
       'extra_curricular_activities', 'attended_nursery_school',
       'wants_higher_education', 'internet_access_at_home',
       'romantic_relationship', 'quality_of_family_relationships',
       'free_time_after_school', 'going_out_with_friends',
       'workday_alcohol_consumption', 'weekend_alcohol_consumption',
       'current_health_status', 'number_of_school_absences',
       'first_period_grade', 'second_period_grade', 'final_grade'],
      dtype='object')

In [74]:
por = por.drop(columns=['father_job', 'mother_education', 'mother_job', 
                        'romantic_relationship', 'quality_of_family_relationships', 
                        'weekend_alcohol_consumption', 'workday_alcohol_consumption','father_education'])

In [78]:
por.columns

Index(['Unnamed: 0', 'School_name', 'Gender', 'age', 'Address', 'Family_size',
       'Pstatus', 'school_choice_reason', 'student_guardian',
       'home_to_school_travel_time', 'weekly_study_time',
       'past_class_failures', 'extra_educational_support',
       'family_educational_support', 'extra_paid_classes',
       'extra_curricular_activities', 'attended_nursery_school',
       'wants_higher_education', 'internet_access_at_home',
       'free_time_after_school', 'going_out_with_friends',
       'current_health_status', 'number_of_school_absences',
       'first_period_grade', 'second_period_grade', 'final_grade'],
      dtype='object')